
/*

 * =========================
 * =====               =====
 * =====  COLOR CODES  =====
 * =====               =====
 * =========================
 *
 *  board bg (pastel bluw):     5a639e
 *  current guess (white):      ffffff
 *  right place (yellow):       bdf000
 *  wrong place (dark blue):    0008dd
 *
 */


@font-face {
  font-family: nue-gothic-round;
  src: url('../fonts/nue-gothic-round.ttf');
}

@font-face {
  font-family: alte;
  src: url('../fonts/alte-bold.ttf');
}

body {
    background-color: #000000;
    color:#fff;
    font-family: 'nue-gothic-round';
}



/* 
 * 
 * ====================================
 * ====================================
 * =====                          =====
 * =====  CUSTOM IDS AND CLASSES  =====
 * =====                          =====
 * ====================================
 * ====================================
 * 
*/


/* The container for the actual board-grid */
#board-panel {
    background-color: #5a639e;
    color:#000000;
    border: none;
    width: 500px;
    max-width: 100%;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
}

#headline {
    width: 100%;
    text-align: center;
    font-family: 'nue-gothic-round';
    font-size: 101px;
    margin-top: -14px;
}

/* the grid-container for the tiles. */
#board {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    font-size: 55px;
    margin-top: -16px;
}

.tile {
    font-family: alte;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.tile:hover {
    cursor:default;
}


.tile:focus {
    outline: none !important;
    background-color: #000;
}


#cranktale {
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}


.wrong_spot {
    color: #0008dd;
}

.right_spot {
    color: #bdf000;
}

.current_guess {
    color: #ffffff;
}

.dud {
    color: #000000;
}

 #message_modal {
    background-color: #0008dd;
    color: #bdf000;
    border: 2px solid #000000;
    text-align: center;
 }