/*
 * Remember to ONLY EDIT the SCSS file and then run sass.
 * =========================
 * =====               =====
 * =====  COLOR CODES  =====
 * =====               =====
 * =========================
 *
 *  board bg (pastel blue):     5a639e
 *  current guess (white):      ffffff
 *  right place (yellow):       bdf000
 *  wrong place (dark blue):    0008dd
 *
 */
/* RAW COLORS */
/* darker green */
/* COLOR SCHEME 
        https://coolors.co/423841-2e5c8a-d6d6d6-248232-c97c18
*/
/* CUSTOM FONTS */
@font-face {
  font-family: nue-gothic-reg;
  src: url(../fonts/nue-gothic-reg.ttf);
}
@font-face {
  font-family: nue-gothic-round;
  src: url(../fonts/nue-gothic-round.ttf);
}
@font-face {
  font-family: "lato";
  src: url(../fonts/lato-med.woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lato";
  src: url(../fonts/lato-bold.woff2);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "lato";
  src: url(../fonts/lato-med-italic.woff2);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "lato";
  src: url(../fonts/lato-bold-italic.woff2);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: alte;
  src: url("../fonts/alte-bold.ttf");
}
body {
  background-color: #000000;
  color: #fff;
  font-family: "nue-gothic-round";
}

/* 
 * 
 * ====================================
 * ====================================
 * =====                          =====
 * =====  CUSTOM IDS AND CLASSES  =====
 * =====                          =====
 * ====================================
 * ====================================
 * 
*/
/* The container for the actual board-grid
 * (encompasses headline (title) and board (grid)).
 */
#board-panel {
  background-color: #5a639e;
  color: #000000;
  border: none;
  width: 500px;
  max-width: 100%;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
}

#headline {
  width: 100%;
  text-align: center;
  font-family: "nue-gothic-round";
  font-size: 101px;
  margin-top: -14px;
}

/* the grid-container for the tiles. */
#board {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  font-size: 55px;
  margin-top: -16px;
}

/* each tile on the game grid/board */
.tile {
  font-family: alte;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.tile:hover {
  cursor: default;
}

.current_tile {
  background-color: #333;
}

.tile:focus {
  outline: none !important;
  background-color: #000;
}

#cranktable {
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.wrong_spot {
  /* color: #0008dd; */
  color: #0008dd;
}

.right_spot {
  color: #60f000;
  /* color: #bdf000; */
}

.current_guess {
  color: #ffffff;
}

.dud {
  color: #111111;
}

/* 
 * 
 * 
 * 
 * 
 * ===========================
 * ===========================
 * =====                 =====
 * =====  PLAYERS BOARD  =====
 * =====                 =====
 * ===========================
 * ===========================
 * 
 * 
 * 
 * 
*/
#players-board {
  width: 300px;
  height: auto;
  background-color: #5a639e;
  position: fixed;
  top: 0;
  left: 0;
}

#message_modal {
  background-color: #0008dd;
  color: #bdf000;
  border: 2px solid #000000;
  text-align: center;
}

#players_list_bk {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.game_menu {
  width: auto !important;
  font-family: lato;
  background-color: transparent !important;
}

.game_menu li a {
  color: white;
}

.game_menu li a:hover {
  cursor: default;
}

#player_turn_li {
  color: white;
  font-family: lato;
  text-transform: uppercase;
}

#player_turn_li {
  color: #bdf000;
  font-family: lato;
  text-transform: uppercase;
}

.player_label {
  cursor: default;
  color: white;
  text-transform: uppercase;
}

/*# sourceMappingURL=game.css.map */
