<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ texts.title }}</title>
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/foundation.min.css">
        <link rel="stylesheet" href="static/css/app.css?id=775777772977">
    </head>

    <body>
    {% include "header.html" %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1 id="dash_title">{{ texts.title }}</h1>
            </div>

            <div class="large-4 medium-6 small-12 cell">
                <div class="callout primary">
                    <h4>{{ texts.current_games }}:</h4>
                    <span>
                        {% if current_games.len() > 0 %}
                            {% for game in current_games %}
                            <div class="callout current_game_callout">
                                <a class="button small" href="/game/{{ game.hashid }}">
                                    {{ game.game_status }}: {{ game.hashid }}
                                </a>
                                <br/>
                                {{ game.age_string }}
                            </div>

                            {% endfor %}
                            {% else %}
                                [NONE]
                        {% endif %}
                    </span>
                </div>

                <div class="callout primary">
                    <h4>INVITATIONS:</h4>
                    <span id="invitations">
                        {% if invited_games.len() > 0 %}
                            {% for game in invited_games %}
                            <div class="callout invite_callout">
                                <a class="button small invite_btn" href="/game/{{ game.hashid }}">
                                    {{ game.hashid }}
                                </a>
                                <h6><a href="/user/{{ game.owner_name }}">{{ game.owner_name }}</a></h6>
                            </div>
                            {% endfor %}
                        {% else %}
                            [NONE]
                        {% endif %}
                    </span>
                </div>

               <div class="callout primary">
                    <h4>NEW GAME:</h4>
                    <label for="invite_only_check" id="invite_only_label">INVITE ONLY?
                        <input
                            type="checkbox"
                            id="invite_only_check"
                            name="invite_only_check"
                            value="invite_only_check"
                            checked />
                    </label>
                    <a class="button" id="new_game_button">{{ texts.new_game }}</a>
                    <p>Invite-Only games are NOT considered "open games." If you un-check "INVITE ONLY" then anybody can join your game.</p>
                </div>

            </div>

            <div class="large-4 medium-6 small-12 cell">
                <div class="callout primary">
                    <h4>{{ texts.stats }}:</h4>
                    <h6>PAST GAMES: {{ stats.past_games }}</h6>
                    <h6>WINS: {{ stats.wins }}</h6>
                    <h6>CANCELLED GAMES: {{ stats.cancelled_games }}</h6>
                </div>
            </div>


            <div class="large-12 cell">
                <div class="callout primary" id="msg_box">
                </div>
            </div>

            <div class="large-8 medium-12 small-12 cell">
                <h2>{{ texts.rules_title }}&nbsp;&nbsp;<a href="#rules_box" id="toggle_rules">[+]</a></h2>
                <div class="callout primary" id="rules_div">
                    {{ texts.rules_body | safe }}
                </div>

            </div>
        </div> <!-- end of grid-x -->
        <input type="hidden" id="username" value="{{user.get_username()}}" />

    </div><!-- end of grid-container -->

        <script src="static/js/vendor/jquery.js"></script>
        <script src="static/js/vendor/what-input.js"></script>
        <script src="static/js/vendor/foundation.min.js"></script>
        <script type="module" src="static/js/dashboard.js?id=5900996fgfr270"></script>
    </body>

</html>
