<div class="top-bar">
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#" class="button small nav-button inert-nav-button">
                {% if user.role == "guest" %}
                    {{ user.role }}
                {% else %}
                    {{ user.get_username() }}
                {% endif %}
            </a></li>

            {% if user.logged_in %}
                <li><a href="/dashboard" class="button small nav-button">DASHBOARD</a></li>
                <li><a href="/logout" class="button small nav-button">LOGOUT</a></li>
            {% else %}

                <li><a href="/" class="button small nav-button">HOME</a></li>
                <li><a href="/login" class="button small nav-button">LOGIN</a></li>
                <li><a href="/register" class="button small nav-button">REGISTER</a></li>
            {% endif %}

            <li><a href="/game" class="button small nav-button">GAME</a></li>
        </ul> 
    </div>
</div>
