<div class="top-bar">
    <div class="top-bar-right">
        <ul class="menu header_menu">
            <li><a href="#" class="button small nav-button inert-nav-button username_btn">
                {% if user.role == "guest" %}
                    {{ user.role }}
                {% else %}
                    {{ user.get_username() }}
                {% endif %}
            </a></li>

            {% if user.logged_in %}
                <li><a href="/dashboard" class="button small nav-button">{{texts.nav.dashboard}}</a></li>
                <li><a href="/game" class="button small nav-button">OPEN GAMES</a></li>
                <li><a href="/logout" class="button small nav-button">{{texts.nav.logout}}</a></li>
            {% else %}

                <li><a href="/" class="button small nav-button">{{texts.nav.home}}</a></li>
                <li><a href="/login" class="button small nav-button">{{texts.nav.login}}</a></li>
                <li><a href="/register" class="button small nav-button">{{texts.nav.register}}</a></li>
            {% endif %}

        </ul> 
    </div>
</div>