<li><a href="#" class="button small nav-button inert-nav-button username_btn">
    {% if user.role == "guest" %}
        {{ user.role }}
    {% else %}
        {{ user.get_username() }}
    {% endif %}
</a></li>

{% if user.logged_in %}
    <li><a tabindex="0" href="/dashboard" class="button small nav-button">{{texts.nav.dashboard}}</a></li>
    <li><a tabindex="0" href="/open_games" class="button small nav-button">OPEN GAMES</a></li>
    <li><a tabindex="0" href="/logout" class="button small nav-button">{{texts.nav.logout}}</a></li>
{% else %}

    <li><a tabindex="0" href="/" class="button small nav-button">{{texts.nav.home}}</a></li>
    <li><a tabindex="0" href="/login" class="button small nav-button">{{texts.nav.login}}</a></li>
    <li><a tabindex="0" href="/register" class="button small nav-button">{{texts.nav.register}}</a></li>
{% endif %}