/*  REMEMBER only to edit the SCSS file!  */

/* RAW COLORS */
$jet: #423841ff;
$lapis-lazuli: #2e5c8aff;
$timberwolf: #d6d6d6ff;
$forest-green: #248232ff;
$dartmouth-green: #1A6025; /* darker green */
$bronze: #c97c18ff;
$yellow: #bdf000;
$pastel-blue: #5a639e;

$very-light-gray: #f0f0f0;

$winning_word: #60f000;
$losing_word: #e02f2f;




/* COLOR SCHEME 
        https://coolors.co/423841-2e5c8a-d6d6d6-248232-c97c18
*/

$white: $very-light-gray;
$black: #111111;
$extra-black: #000000;
$extra-white: #ffffff;


/* CUSTOM FONTS */

@font-face {
  font-family: nue-gothic-reg;
  src: url(../fonts/nue-gothic-reg.ttf);
}


@font-face {
  font-family: nue-gothic-round;
  src: url(../fonts/nue-gothic-round.ttf);
}

@font-face {
  font-family: 'lato';
  src: url(../fonts/lato-med.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url(../fonts/lato-bold.woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url(../fonts/lato-med-italic.woff2);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url(../fonts/lato-bold-italic.woff2);
  font-weight: bold;
  font-style: italic;
}



/* FONT VARIABLES */

$header-font: nue-gothic-round;
$text-font: lato;
$button-font: lato;



/* HTML ELEMENT OVERRIDES */

body {
    font-family: $text-font;
    background-color: $jet;
    color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  text-transform: uppercase;
}




/* FOUNDATION OVERRIDES */

.callout {
    background-color: $pastel-blue;
    color: $white;
}

.callout label {
    color: $white;
}

.callout.primary {
    background-color: $timberwolf;
    color: $black;
}

.callout.primary label {
  color: $black;
}

.button {
  background-color: $black;
  color: $white;
  border: 1px solid $black;
  border-radius: 5px;
  font-family: $button-font, arial;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.55s;
}

.button:hover, .button:focus {
  background-color: $forest-green;
  color: $white;
}

.top-bar,
.top-bar-right,
.top-bar-left,
.header_menu {
  background-color: transparent!important;
}

.menu,
.menu li
{
  background-color: $jet;
}

/* CUSTOM CLASSES */


.nav-button {
  background-color: $jet!important;
  transition: background-color 0.25s;
  color: $white;
  border: none;
  border-radius: 0px;
}

.nav-button:hover {
  background-color: $pastel-blue!important;
}

.username_btn {
  color: $yellow;
  cursor: default;
}

.username_btn:hover {
  color: $extra-black;
}



/* 
 * 
 * =============================
 * =============================
 * =====                   =====
 * =====  POST-GAME PAGES  =====
 * =====                   =====
 * =============================
 * =============================
 * 
*/



.winning_word_won_label {
  color: $winning_word;
  background-color: #000000;
  padding: 5px;
  padding-left: 7px;
  display: inline-block;
}


.winning_word_lost_label {
  color: $losing_word;
  background-color: #000000;
  padding: 5px;
  padding-left: 7px;
  display: inline-block;
}

.winner_name {
  color: $winning_word;
  background-color: #000000;
  padding: 5px;
  padding-left: 7px;
  display: inline-block;
  font-weight: bold;
}

#players_list {
  list-style-type: none;
  padding-left: 0;
}



/* 
 * 
 * 
 * ======================
 * ======================
 * =====            =====
 * =====  PRE-GAME  =====
 * =====            =====
 * ======================
 * ======================
 * 
 * 
*/


.remove_player_button {
  margin: 2px;
  margin-left: 6px;
  padding: 0px 4px 0px 4px;
  border-radius: 10px;
  font-size: 11px;
  border: 1px solid $black;
  color: $black;
  background-color: $very-light-gray;
}

.remove_player_button:hover {
  background-color: $losing_word;
  color: $very-light-gray;
}



/* 
 * 
 * =======================
 * =======================
 * =====             =====
 * =====  DASHBOARD  =====
 * =====             =====
 * =======================
 * =======================
 * 
 */


.invite_btn {
  margin-right:2px;
  margin-bottom: 2px;
}

#invite_only_label {
  color: $black;
  width: auto;
}


/* 
 * 
 * 
 * ========================
 * ========================
 * =====              =====
 * =====  OPEN GAMES  =====
 * =====              =====
 * ========================
 * ========================
 * 
 * 
*/

.open_game_callout {
  display: inline-block;
  width: auto;
}